*.o
.deps
/*.bak
/*.dylib
/*.gcda
/*.gcno
/*.lo
/*.orig
/*.rej
/*.tab.c
/*/*.dylib
/*/*.lo
/*/lib*.a
/*/lib*.la
/*~
/.*.sw[nop]
/.dirstamp
/.env.local
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/autoscan.log
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/build-aux/test-driver
/build-aux/ylwrap
/compile
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/configure~
/conftest*
/depcomp
/docs/Makefile.in
/docs/raqm-overrides.txt
/install-sh
/lib*.a
/lib*.la
/lib*.lai
/libtool
/log/valet-20230921-041746.log
/log/valet-20230921-054506.log
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/raqm.pc
/so_locations
/src/Makefile.in
/stamp-h1
/tags
/test-driver
/tests/Makefile.in
